In [2]:
import pandas as pd
import numpy as np

In [8]:
google=pd.read_csv('Resources/google_search_interest.csv')

In [9]:
google

            Category: All categories
Day         bitcoin: (United States)
2020-08-07                        77
2020-08-08                        67
2020-08-09                        65
2020-08-10                        78
...                              ...
2020-10-29                        71
2020-10-30                        68
2020-10-31                        67
2020-11-01                        66
2020-11-02                        70

[89 rows x 1 columns]

In [3]:
data = pd.read_csv('Resources/BTC_hist.csv')
data

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,8-Nov-20,"14,833.75","15,637.32","14,744.11","15,479.57","26,632,075,029","286,955,182,899"
1,7-Nov-20,"15,565.88","15,737.10","14,423.20","14,833.75","35,024,953,706","274,970,333,140"
2,6-Nov-20,"15,579.73","15,903.44","15,226.84","15,565.88","39,837,841,971","288,526,920,959"
3,5-Nov-20,"14,133.73","15,706.40","14,102.09","15,579.85","40,856,321,439","288,771,509,681"
4,4-Nov-20,"13,950.49","14,218.77","13,580.47","14,133.71","35,116,364,962","261,954,213,176"
...,...,...,...,...,...,...,...
2747,2-May-13,116.38,125.6,92.28,105.21,0,"1,168,517,495"
2748,1-May-13,139,139.89,107.72,116.99,0,"1,298,954,594"
2749,30-Apr-13,144,146.93,134.05,139,0,"1,542,813,125"
2750,29-Apr-13,134.44,147.49,134,144.54,0,"1,603,768,865"
2751,28-Apr-13,135.3,135.98,132.1,134.21,0,"1,488,566,728"

In [7]:
pip install requests

Collecting requestsNote: you may need to restart the kernel to use updated packages.
  Downloading requests-2.24.0-py2.py3-none-any.whl (61 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\winyi\anaconda3\envs\pythonadv\lib\site-packages (from requests) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\winyi\anaconda3\envs\pythonadv\lib\site-packages (from requests) (2020.6.20)
Collecting idna<3,>=2.5
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
Collecting chardet<4,>=3.0.2
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Installing collected packages: idna, chardet, requests
Successfully installed chardet-3.0.4 idna-2.10 requests-2.24.0

In [11]:
from requests import Request, Session

from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import time

In [12]:
url = 'https://undefined/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '3d5a6904-5cff-49fa-8b07-abb035d7b63d',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters, verify=False)
  data = json.loads(response.text)
  print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

HTTPSConnectionPool(host='undefined', port=443): Max retries exceeded with url: /v1/cryptocurrency/listings/latest?start=1&limit=5000&convert=USD (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000018C539EA048>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',))